{
  "root": true,
  "extends": [
    "plugin:vue/vue3-recommended",
    "eslint:recommended",
    "standard",
    "@vue/eslint-config-typescript/recommended",
    "./.eslintrc-auto-import.json"
  ],
  "env": {
    "vue/setup-compiler-macros": true
  },
  "rules": {
    "vue/multi-word-component-names": "off",
    "vue/no-v-html": "off"
  }
}
