.activity-main img {
  max-width: 100%;
  height: auto;
}

.activity-main audio,
.activity-main video {
  max-width: 100%;
}

.activity-main audio::-internal-media-controls-download-button,
.activity-main video::-internal-media-controls-download-button {
  display:none;
}

.activity-main audio::-webkit-media-controls-enclosure,
.activity-main video::-webkit-media-controls-enclosure {
  overflow:hidden;
}

.activity-main audio::-webkit-media-controls-panel,
.activity-main video::-webkit-media-controls-panel {
  width: calc(100% + 30px);
}
